html, body, #root, .openai-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  font-family: 'Lato';
}

.conversation {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px calc(50% - 300px);
  height: calc(100% - 2rem);
  overflow-y: auto;
}

@media screen and (max-width: 600px) {
  .conversation {
    padding: 16px;
  }
}

.message.mabel {
  align-self: flex-end;
  background-color: #DCF8C6;
  border-radius: 16px;
  padding: 8px 12px;
  max-width: 70%;
}

.message.dipper {
  align-self: flex-start;
  background-color: #cacaf6;
  border-radius: 16px;
  padding: 8px 12px;
  max-width: 70%;
}

.message.system {
  display: none;
}

.bottom, form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  border-top: 1px solid #ccc;
}

form label {
  font-size: 13px;
  height: 100%;
  padding-top: 13px;
  font-weight: bold;
}

form input {
  max-width: 600px;
  flex: 1;
  padding: 8px 8px 2px 2px;
  border: none;
  border-bottom: #cacaf6 2px solid;
  outline: none;
}

form input:focus-visible {
  border-bottom: #606075 2px solid;
}

form button, .bottom button {
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  border-radius: 4px;
  background-color: #2f6332;
  color: white;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}